.strategiya-section{
    background: url(../../assets/main-banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.strategiya-title{
    color: #ffffff;
    font-size: 3.75rem ;
    font-weight: 700;
}

.strategiya-subtitle{
    color: #ffffff;
    font-weight: 400;
    font-weight: 1.25rem;
}

@media(max-width: 768px){
    .strategiya-title{
        font-size: 3.2rem;
    }
}
