.bisnes-card {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.bisnes-card__data {
    color: #ffffff;
    padding: 80px 20px;
}

.left {
    margin-left: auto;
}

.rigth {
    margin-right: auto;
}

.bisnes-card__data h3,
.card-info__item p {
    font-size: 1.5rem;
    font-weight: 700;
}

.bisnes-card__data p {
    font-size: 1.1rem;
    font-weight: 400;
}

.card-info__item h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.bisnes-card__button {
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 30px;
}

.bisnes-card__button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

#card-1 {
    background: url(../../assets/dermatologiya.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-2 {
    background: url(../../assets/uzBisnesCard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-3 {
    background: url(../../assets/iqlim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-4 {
    background: url(../../assets/itTime.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-5 {
    background: url(../../assets/kiprik.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-6 {
    background: url(../../assets/photo_5235987879321264283_y.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-7 {
    background: url(../../assets/stolotolg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-8 {
    background: url(../../assets/aksesuarlar2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-9 {
    background: url(../../assets/kasmetolog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card10 {
    background: url(../../assets/telefon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-11 {
    background: url(../../assets/honey.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-12 {
    background: url(../../assets/ahaaqayum2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-13 {
    background: url(../../assets/photo_5235987879321264219_m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#card-14 {
    background: url(../../assets/anhor2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

@media(max-width:996px) {
    .bisnes-card {
        width: 100%;
    }
}